@font-face {font-family: "DrukWideWebSuper"; src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot"); src: url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.woff") format("woff"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2f8845bdde42e943355a39765c5be5c0.svg#Druk Wide Web Super") format("svg"); }
@font-face {font-family: "VCROSDMono"; src: url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.eot"); src: url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.eot?#iefix") format("embedded-opentype"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.woff2") format("woff2"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.woff") format("woff"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.ttf") format("truetype"), url("//db.onlinewebfonts.com/t/2545d122b16126676225a5b52283ae23.svg#VCR OSD Mono") format("svg"); }

.App {
  text-align: center;
  height: 100vh;
  width: 100vw;
  position: relative;
  display: flex;
  font-size: 21px;
  color: #fff;
  background: #282c34;
  overflow: hidden;
  font-size: 21px;
  font-family: VCROSDMono;
}

a {
  color: #fff;
  text-decoration: none;
  text-transform: uppercase;
  font-family: VCROSDMono;
}
button {
  color: #fff;
  background: none;
  border: none;
  font-size: 21px;
  cursor: pointer;
  text-transform: uppercase;
  font-family: VCROSDMono;
}
button:focus {
  border: none;
  outline: none;
}