@import '_variables';
@import '_animations';

@mixin users-default {
  animation: route-showed forwards 0.2s ease-in-out;
}

@mixin users-forward {
  animation: route-hidden forwards 0.2s ease-in-out;
}

@mixin user-default {
  animation: route-hidden forwards 0.2s ease-in-out;
}

@mixin user-forward {
  animation: route-showed forwards 0.2s ease-in-out;
}

@mixin login-default {
  animation: route-hidden forwards 0.2s ease-in-out;
}

@mixin modal-expanding() {
  animation: modal-expand forwards 0.2s ease-in-out;
}

@mixin modal-releasing() {
  animation: modal-release forwards 0.2s ease-in-out;
}

@mixin page-header() {
  flex-basis: 10%;
  font-family: $header-font;
  text-transform: uppercase;
  color: #d9cb9a;
}

@mixin highlight-button() {
  background: #61892F;
  border-radius: 20px;
  font-family: system-ui;
  font-size: 15px;
  padding: 10px 20px;
  color: #fff;
  cursor: pointer;
  text-transform: uppercase;
  &:hover {
    box-shadow: 0 0 5px #86C232,
    0 0 25px #86C232,
    0 0 50px #86C232,
    0 0 100px #86C232;
  }
}

@mixin radio-field() {
    height: 25px;
    flex-basis: 50%;
    background-color: #474b4f;
    border: 1px solid transparent;
    border-radius: 5px;
    outline: none;
    color: #d9cb9a;
  &:focus-visible {
    background-color: #61892F;
    border: 1px solid transparent;
    box-shadow: 0 0 5px #86C232,
    0 0 25px #86C232,
    0 0 50px #86C232,
    0 0 100px #86C232;
  }
}

@mixin modal-label() {
  display: flex;
  justify-content: space-evenly;
  width: 100%;
  flex-wrap: wrap;
  flex-basis: 12%;
  align-items: center;
}

@mixin modal-label-text() {
  flex-basis: 30%;
  text-align: right;
  font-family: system-ui, sans-serif;
  font-size: 14px;
  color: #d9cb9a;
}

@mixin error-message() {
  font-family: system-ui, sans-serif;
  font-size: 12px;
  text-transform: lowercase;
  font-weight: 300;
  color: #6B6E70;
  display: flex;
  flex-basis: 80%;
  flex-flow: row-reverse;
}

@mixin user-item() {
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  padding: 2% 0;
  align-items: center;
  max-width: 800px;
  margin: auto;
  .user-avatar {
    width: 10vw;
    height: 10vw;
    border-radius: 50%;
    border: 1px solid #6B6E70;
    cursor: pointer;
    &:hover {
      border: 1px solid #fff;
    }
  }
  .details {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    flex-basis: 50%;
    font-size: 14px;
    color: #d9cb9a;
    .field {
      margin: 5px;
      &::after {
        content: "|";
        margin-left: 10px;
      }
      .property {
        margin-right: 5px;
        font-weight: 600;
      }
    }
  }
  .action-buttons {
    button {
      margin-left: 10px;

      @include highlight-button();
    }
  }
  &:last-child {
    margin-bottom: 170px;
  }
  &:first-child {
    margin-bottom: auto;
  }
}

@mixin modal-dialogue() {
    position: fixed;
    width: 90vw;
    height: 90vh;
    background: #222629;
    border: 2px solid #6B6E70;
    border-bottom: none;
    border-top-left-radius: 15px;
    border-top-right-radius: 15px;
    left: 0;
    right: 0;
    top: auto;
    bottom: 0;
    margin: auto;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    .content {
      color: #d9cb9a;
      flex-basis: 30%;
      display: flex;
      align-items: center;
    }
    label {
      @include modal-label();
      .label-text {
        @include modal-label-text();
      }
      input {
        @include radio-field();
      }
      .error {
        @include error-message();
      }
    }
    .action-buttons {
      button {
        @include highlight-button();
        &:first-child {
          margin-right: 10px;
        }
      }
    }
  &::before {
    content: "";
    background-color: rgba(34, 38, 41, 0.7);
    width: 100vw;
    height: 100vh;
    position: fixed;
    left: 0;
    top: 0;
    z-index: -1;
  }
}
    
// @mixin subheader() {
//   @include menuitem();
//   color: rgba(255,255,255,0.26);
// }