@import '_mixins';

.login-form {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  .header {
    flex-basis: 10%;
    @include page-header();
  }
  label {
    max-width: 500px;
    @include modal-label();
    .label-text {
      @include modal-label-text();
    }
    input {
      @include radio-field();
    }

    .error {
      @include error-message();
    }
  }
  button {
    // color: #d9cb9a;
    // font-family: VCROSDMono;
    // text-transform: uppercase;
    margin-left: 5px;
    @include highlight-button();
  }
  &.default {
    @include login-default();
  }
}