@import '_mixins';

.users-route {
  text-align: center;
  .header {
    @include page-header();
    padding: 20px 0;
  }
  .create-new {
    margin: 20px;
    position: fixed;
    bottom: 25px;
    left: 0;
    right: 0;
    margin: auto;
    width: max-content;
    @include highlight-button();
  }
  .users-list {
    display: flex;
    flex-direction: column;
    overflow-y: scroll;
    height: 100vh;
    padding-top: 40px;
    .user-item {
      @include user-item();
    }
    
    &::-webkit-scrollbar {
      width: 5px;
    }
    
    &::-webkit-scrollbar-track {
      background: #d9cb9a;
      border-radius: 2px;
    }
    
    &::-webkit-scrollbar-thumb {
      background: #6B6E70;
      border-radius: 2px;
    }
    
    &::-webkit-scrollbar-thumb:hover {
      background: #474b4f;
      border-radius: 2px;
    }
  }
  &.default {
    @include users-default();
  }
  &.forward {
    opacity: 0;
    @include users-forward();
  }
}