@import '_mixins';

.user-route {
  .back-button {
    @include highlight-button();
  }
  @include user-item();
  flex-direction: column;
  justify-content: center;
  .details {
    flex-direction: column;
    justify-content: center;
  }
}